* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Myriad Pro Regular", "Open Sans", sans-serif;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #656b6f;
}

li {
  list-style-type: none;
}

body {
  padding: 0 20px;
  background: #111619;
  position: relative;
  z-index: 10;
}

.nav {
  max-width: 100%;
  padding: 59px 10px 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-right: 82px;
}

.nav-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-title__logo {
  margin-right: 86px;
}

.nav-title__conection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-title__img {
  width: 23px;
  height: 23px;
  margin-right: 15px;
}

.nav-menu {
  color: #656b6f;
}

.nav-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.nav-menu__list:last-child {
  margin-right: 0;
}

.nav-menu__item {
  margin-right: 70px;
  color: #656b6f;
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: 66px;
  right: 45px;
}

.sidebar__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.sidebar__item {
  height: 13px;
  width: 20px;
  margin-bottom: 25px;
}

.main {
  margin: auto;
  max-width: 1185px;
}

.promo {
  max-width: 100%;
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#d5536f), to(#5e00ca));
  background: -webkit-linear-gradient(right, #d5536f, #5e00ca);
  background: -o-linear-gradient(right, #d5536f, #5e00ca);
  background: linear-gradient(to left, #d5536f, #5e00ca);
  top: 250px;
  left: -140px;
  z-index: 1;
}

.promo__img {
  position: relative;
  width: 100%;
  display: block;
  margin: 80px auto;
  z-index: 1;
}

.promo__img-2 {
  display: block;
  width: 100%;
  margin: auto;
  position: absolute;
  margin: auto;
  top: -5px;
  right: 3px;
  z-index: 10;
}

.promo__title {
  text-transform: uppercase;
  color: #656b6f;
  font-family: "Playfair Display", serif;
  font-size: 28pt;
  letter-spacing: 40px;
  margin: auto;
  text-align: center;
}

.promo__left-text {
  text-transform: uppercase;
  color: #5e00ca;
  position: absolute;
  top: 250px;
  left: -200px;
}

.promo__right-text {
  position: relative;
  text-transform: uppercase;
  color: #656b6f;
  position: absolute;
  top: 250px;
  right: -200px;
}

.promo__right-text::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 60px;
  background: -webkit-gradient(linear, right top, left top, from(#d5536f), to(#5e00ca));
  background: -webkit-linear-gradient(right, #d5536f, #5e00ca);
  background: -o-linear-gradient(right, #d5536f, #5e00ca);
  background: linear-gradient(to left, #d5536f, #5e00ca);
  top: 25px;
  left: 36px;
  z-index: 1;
}

.promo__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #15191d;
  text-align: center;
  color: #656b6f;
  font-size: 28pt;
  position: absolute;
  top: 200px;
  right: -70px;
  border-left: 2px solid #d5536f;
  z-index: 10;
}

.promo__number::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #742c3c;
  bottom: 89px;
  z-index: 10;
}

.promo__number::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #d5536f;
  bottom: 92px;
  z-index: 10;
}

.promo__circle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #d5536f;
  top: 246px;
  left: 63px;
  z-index: 2;
}

.promo__circle::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #742c3c;
  top: 243px;
  left: 60px;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */