$linearGradient: linear-gradient(to left, #d5536f, #5e00ca);
$textColor: #656b6f;
$bodyColor: #111619;
$textColor_2: #fff;
$linearGradient-2: linear-gradient(55deg, #e84b37, #ee7d16);
$linearGradient-3: linear-gradient(36deg, #5e00ca 4%, #d5536f 95%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro Regular", "Open Sans", sans-serif;

  background-repeat: no-repeat;
}
body {
  padding: 0 0;
  background: $bodyColor;
  position: relative;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1640px;
}

a {
  text-decoration: none;
  color: $textColor;
}
li {
  list-style-type: none;
}

.nav {
  max-width: 100%;
  padding: 59px 20px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-right: 82px;
}
.nav-title {
  display: flex;
  align-items: center;
  &__logo {
    padding-left: 60px;
    margin-right: 86px;
  }
  &__conection {
    display: flex;
  }
  &__img {
    width: 23px;
    height: 23px;
    margin-right: 15px;
  }
}

.nav-menu {
  color: $textColor;

  &__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 450px;
  }
  &__list:last-child {
    margin-right: 0;
  }
  &__item {
    color: $textColor;
  }
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: 66px;
  right: 45px;
  &__list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &__item {
    height: 13px;
    width: 20px;
    margin-bottom: 25px;
  }
}
.main {
}
.container {
  max-width: 1900px;
  margin: 0 auto;
}
.promo {
  position: relative;

  &__img {
    margin: 100px auto 35px auto;
    width: 60%;
    position: relative;
    display: block;
    z-index: 10;
  }
  &__title {
    text-transform: uppercase;
    color: $textColor;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 40px;
    margin: auto;
    text-align: center;
  }
  &__left-text {
    text-transform: uppercase;
    color: #5e00ca;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: rotate(-90deg);
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 190px;
      background: $linearGradient;
      bottom: -220px;
      left: 50%;
      z-index: 1;
    }
  }
  &__right-text {
    position: relative;
    text-transform: uppercase;
    color: $textColor;
    position: absolute;
    top: 50%;
    right: 0px;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 60px;
      background: $linearGradient;
      top: 30px;
      left: 36px;
      z-index: 1;
    }
  }

  &__number {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #15191d;
    text-align: center;
    color: $textColor;
    font-size: 28pt;
    position: absolute;
    top: 40.5%;
    right: 180px;
    border-left: 2px solid #d5536f;
    z-index: 10;
  }
  &__number::before {
    content: "";

    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #742c3c;
    bottom: 89px;
    z-index: 10;
  }
  &__number::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d5536f;
    bottom: 92px;
    z-index: 10;
  }
  &__circle::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d5536f;
    top: 51%;
    left: 23.5%;

    z-index: 20;
  }
  &__circle::after {
    content: "";

    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #742c3c;
    top: 50%;
    left: 23.4%;
    z-index: 10;
  }
}

// button

.main-button {
  max-width: 403px;
  margin: auto;
  margin-top: 300px;
  margin-bottom: 100px;
  &__img {
    display: block;
    width: 100%;
    transition: all 0.2s;
  }
  &__img:active {
    transform: scale(1.03);
    opacity: 0.6;
  }
}

.quote {
  margin: auto;
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 40pt;
    max-width: 1530px;
    color: $textColor_2;
    text-align: center;
    margin: auto;
  }
  &__signature {
  }
  &__img {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 130px;
    filter: invert(1);
  }
}

.opportunities {
  display: flex;
  background-image: url(../img/bg__map.png);
  background-repeat: no-repeat;
  justify-content: space-around;
  &__left {
    margin: 100px 250px 100px 0;
    position: relative;
    max-width: 950px;
  }
  padding: 0 20px;
  margin-bottom: 50px;
}

.cards {
  position: relative;

  &::before {
    transform: rotate(180deg);
    text-align: right;

    content: "1";
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding-right: 20px;
    font-size: 35px;
    top: 200px;
    left: -100px;
    width: 830px;
    height: 220px;
    z-index: 1;
    background-color: #ed751b;
    position: absolute;
  }
  &::after {
    content: "";
    height: 220px;
    width: 150px;
    top: 200px;
    left: 0px;
    background: $linearGradient-2;
    position: absolute;
    z-index: 30;
  }
  &__bg {
    position: relative;
    left: 0px;
    z-index: 10;
  }
  &__front {
    position: absolute;
    top: 199px;
    left: 250px;
    z-index: 20;
  }
  &__number-slide {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-left: 250px;
    color: $textColor_2;
    & span {
      font-family: "Playfair Display", serif;
      color: $textColor;
    }
  }
}

.strategy {
  margin: 200px 0 0 0;
  position: relative;
  max-width: 520px;
  font-family: "Playfair Display", serif;
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 32pt;
    color: $textColor_2;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 620px;
    color: $textColor_2;
    font-size: 18pt;
    margin-bottom: 30px;
  }
  &__button {
    color: $textColor_2;
    font-size: 12pt;
    letter-spacing: 2px;
    border: none;
    width: 200px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: $linearGradient-2;
    transition: all 0.2s ease-in;
    outline: none;
    &:active {
      transform: scale(0.98);
      color: black;
      box-shadow: 0px 5px 10px 5px rgba($color: #1d1203, $alpha: 0.7);
    }
  }
}
.skills {
  margin-top: 240px;
  display: flex;
  justify-content: space-around;
  &__right {
  }
}
.skills-left {
  font-family: "Playfair Display", serif;
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 32pt;
    color: $textColor_2;
    margin-bottom: 30px;
    text-align: right;
  }

  &__text {
    color: $textColor_2;
    font-size: 18pt;
    margin-bottom: 30px;
    text-align: right;
    max-width: 610px;
  }
  &__button {
    color: $textColor_2;
    font-size: 12pt;
    letter-spacing: 2px;
    border: none;
    width: 200px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: $linearGradient-2;
    transition: all 0.2s ease-in;
    outline: none;

    &:active {
      transform: scale(0.98);
      color: black;
      box-shadow: 0px 5px 10px 5px rgba($color: #1d1203, $alpha: 0.7);
    }
  }
}
.skill-cards {
  position: relative;
  margin: auto;
  &::before {
    transform: rotate(180deg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: right;
    content: "1";
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
    font-size: 35px;
    top: 200px;
    left: -140px;
    width: 830px;
    height: 220px;
    z-index: 1;
    background: linear-gradient(to right, #5e00ca 10%, #d5536f);
    position: absolute;
  }
  &::after {
    content: "";
    height: 220px;
    width: 150px;
    top: 200px;
    right: 0px;
    background: $linearGradient-3;
    position: absolute;
    z-index: 30;
  }
  &__bg {
    position: relative;

    z-index: 10;
  }
  &__front {
    position: absolute;
    top: 200px;
    left: -80px;
    z-index: 20;
  }
  &__number-slide {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-left: 250px;
    color: $textColor_2;
    & span {
      font-family: "Playfair Display", serif;
      color: $textColor;
    }
  }
}
.button__wrapper {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1690px) {
  .opportunities {
    margin: auto;
  }
  .cards,
  .skill-cards {
    transform: scale(0.7);
  }
  .strategy,
  .skills-left {
    top: 0px;
  }
  .skills-left {
    margin-right: 150px;
  }

  .strategy,
  .skills-left {
    &__title {
      font-family: "Playfair Display", serif;
      font-size: 28pt;
    }

    &__text {
      font-size: 16pt;
    }
  }
}
@media (max-width: 1580px) {
  .opportunities {
  }
  .strategy {
    &__title {
      font-family: "Playfair Display", serif;
      font-size: 26pt;
    }
    .skills-left__text,
    &__text {
      max-width: 300px;
      font-size: 14pt;
    }
  }
  .skill-cards {
    transform: scale(0.7);
  }
  .skills {
    margin-top: 70px;
  }
  .skills-left {
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 1500px) {
  .promo__img {
    width: 80%;
  }
}
@media (max-width: 1500px) {
  .promo__img {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .promo__number {
    display: none;
  }
}

@media (max-width: 1090px) {
  .nav-menu__list {
    width: 350px;
  }
  .opportunities {
    flex-direction: column;
  }
  .skills {
    flex-direction: column-reverse;
  }

  .strategy,
  .skills-left {
    margin: auto;
    &__title {
      font-family: "Playfair Display", serif;
      font-size: 26pt;
    }
    &__text {
      font-size: 14pt;
    }
  }
  .promo__left-text::before {
    display: none;
  }
  .promo__circle {
    display: none;
  }
}
@media (max-width: 990px) {
  .nav-menu__list {
    width: 250px;
  }
}
@media (max-width: 820px) {
  .promo__title {
    font-size: 14px;
  }
  .promo__text {
    display: none;
  }
  .promo__img {
    width: 100%;
  }
  .quote__title {
    font-size: 26px;
  }
  .nav {
    flex-direction: column;
    height: 220px;
    margin-right: auto;
  }
  .nav-title {
    &__logo {
      margin-bottom: 30px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-menu__list {
    width: 320px;
    flex-direction: row;
    margin: auto;
  }
}
@media (max-width: 730px) {
  .strategy {
    max-width: 350px;
  }
}
@media (max-width: 730px) {
  .nav {
    flex-direction: column;
    height: 220px;
    margin-right: auto;
  }
  .nav-title {
    &__logo {
      margin-bottom: 30px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-menu__list {
    width: 320px;
    flex-direction: row;
    margin: auto;
  }
}
@media (max-width: 625px) {
  .cards,
  .skill-cards {
    transform: scale(0.63);
  }
}
@media (max-width: 580px) {
  .sidebar {
    left: 30%;
    top: 270px;
    &__list {
      flex-direction: row-reverse;
      width: 250px;
      justify-content: space-between;
    }
  }
}

@media (max-width: 360px) {
  .nav-menu__list {
    width: 280px;
  }
}
@media (max-width: 320px) {
  .nav-menu__list {
    width: 250px;
  }
  h2 {
    font-size: 14px;
  }
}
